:root {
  --brand-font: "Rubik", "Open Sans", sans-serif;
  --lightgrey: #d8d8d8;
  --darkgrey: #6b6b6b;
  --gunmetal: #54585a;
  --silver: #bfcdd0;
  --lightcoral: #ff9696;
  --lightcyan: rgb(216, 255, 255);
  --dirty-blue: #62c1bb;
  --nice-green: #14d9c4;
}
