.search {
  &_form {
    width: 100vw;
    display: flex;
    &-input {
      border: none;
      background-color: lightcyan;
      font-size: 16px;
      padding: 5px;
    }
    &-btn {
      border: none;
      background-color: white;
      font-size: 16px;
      padding: 10px;
    }
    &-reset {
      border: none;
      background-color: white;
      font-size: 16px;
      padding: 5px;
    }
  }
}
