.header {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);

  &_top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    &-icon {
      width: 70px;
      padding: 5px;
    }
    &-title {
      color: lightcoral;
      font-size: 30px;
    }
  }

  &_background {
    height: 50vh;
    background-image: url("/images/cocktails-background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
