.main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.favorites {
  width: 50vw;
  &_title {
    font-weight: 600;
    color: #ff9696;
  }
  &_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
}

.results {
  width: 50vw;
  &_title {
    color: #62c1bb;
    font-weight: 600;
  }
  &_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
}

.cocktail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 10px;
  margin: auto;
  list-style: none;
  transition: 0.25s all;
  text-align: center;

  &-img {
    width: 100%;
  }

  &-title {
    font-size: 18px;
    color: #62c1bb;
    font-weight: 600;
  }
}

.fave {
  background-color: #ff9696;
  color: white;
}

.hidden {
  display: none;
}
