<section class="search">
  <form class="search_form">
    <label for="search_text" class="search_form-label"></label>
    <input
      type="text"
      name="search_text"
      id="search_text"
      class="search_form-input js_search_input"
      placeholder="Buscar cócteles..."
    />
    <input type="submit" class="search_form-btn js_btn_search" value="Buscar" />
    <input type="submit" class="search_form-reset js_btn_reset" value="Reset" />
    <button type="button" class="js_button_log">LOG</button>
  </form>
  <span class="js-error error"></span>
</section>
